{% extends "people/person_base.html" %}
{% block title %} Confirmação de Exclusão {% endblock %}
{% block content %}
    <nav class="nav">
        <a class="nav-link" href="{% url 'people_person_detail_view' object.id %}">Voltar para Detalhe</a>
    </nav>
    <form method="post">
        {% csrf_token %}
        <div class="text-center">
            <p>Você tem certeza que quer deletar "{{ object }}"?</p>
            <button class="btn btn-primary" type="submit">Confirmar</button>
        </div>
    </form>
{% endblock %}