<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD de Pessoas</title>
</head>
<body>
    <h1>Pessoas</h1>
    <h2>Detalhe</h2>
    <a href="{% url 'people_person_list_view' %}">Voltar para Listagem</a>
    <dl>
        <dt>ID</dt>
        <dd>{{ object.id }}</dd>
        <dt>Nome</dt>
        <dd>{{ object.first_name }}</dd>
        <dt>Sobrenome</dt>
        <dd>{{ object.last_name }}</dd>
        <dt>Ações</dt>
        <dd>Editar  | Excluir</dd>
    </dl>
</body>
</html>