{% extends "people/person_base.html" %}
{% block title %}
    Listagem
{% endblock %}
{% block content %}
    <a href="{% url 'people_person_create_view' %}">Criar Pessoa</a>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for person in object_list %}
                <tr>
                    <th>{{ person.id }}</th>
                    <td>{{ person.first_name }}</td>
                    <td>{{ person.last_name }}</td>
                    <td><a href="{% url 'people_person_detail_view' person.id %}">Ver mais</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}