{% extends "people/person_base.html" %}
{% block title %}
    Detalhe
{% endblock %}
{% block content %}
    <a href="{% url 'people_person_list_view' %}">Voltar para Listagem</a>
    <dl>
        <dt>ID</dt>
        <dd>{{ object.id }}</dd>
        <dt>Nome</dt>
        <dd>{{ object.first_name }}</dd>
        <dt>Sobrenome</dt>
        <dd>{{ object.last_name }}</dd>
        <dt>Ações</dt>
        <dd><a href="{% url 'people_person_update_view' object.id %}">Editar</a>  | <a href="{% url 'people_person_delete_view' object.id %}">Excluir</a></dd>
    </dl>
{% endblock %}